div.body
	div.page-section#footer-section
		section.content
			div#footer-contact
				h2 Contact Us
				p=footer.contact.adress
				p=footer.contact.postal
				br
				p="Mail: "+footer.contact.mail
				p="Phone: "+footer.contact.phone
				p="Org nr: " + footer.contact.org_nr
			div#footer-social-media
				for sm in footer.social_media
					a(href=sm.link)
						div!=sm.graphic
			//- div#footer-menu
			//- 	h2 MENU
			//- 	- var sections = pages.Home.sections;
			//- 	for s in sections
			//- 		a(onClick="moveTo("+s.id+");")=s.tag
			div#footer-credits
				for credit in footer.credits
					p.developer=credit.tag
						a(href=credit.link.url)=credit.link.text
						