section.content
	h3=section.h1
	div.partners-logo-container
		div.partners-premium
			for partner in section.partners.premium
				div
					img(src=partner.logo alt=partner.name)
		div.partners-favorite
			for partner in section.partners.favorites
				div
					img(src=partner.logo alt=partner.name)